<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | Django test</title>
  </head>
  <body>
    <h1>Simple Django Demo</h1>
    <hr />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/hola-mundo">Hola mundo</a></li>
      <li><a href="/contact">Contacto</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
    <div id="content">{% block content %} {% endblock %}</div>
    <footer>&copy;2021 vinjadevix</footer>
  </body>
</html>
