{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | Django test</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="header">
      <div id="logo">
        <img src="{% static 'images/miudo.svg' %}" />
        <h1>Miudo's who!?</h1>
      </div>
    </header>
    <nav class="navbar">
      <ul class="navbar__list">
        <li><a class="navbar__link" href="/">Miudo</a></li>
        <li><a class="navbar__link" href="/who">WHO!?</a></li>
        <li><a class="navbar__link" href="/projects">Puntuaciones</a></li>
        <li><a class="navbar__link" href="/contact">Contacto</a></li>
      </ul>
    </nav>
    <div class="bar">
      <span class="bar__left"></span>
      <span class="bar__center"></span>
      <span class="bar__right"></span>
    </div>
    <main class="content">
      {% block content %}
      <h2>Original content</h2>
      {% endblock %}
    </main>
    <footer class="footer">&copy;2021 vinjadevix</footer>
  </body>
</html>
