* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  display: grid;
  justify-items: center;
}
.header {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 140px;
  background-color: #141618;
  margin: 0 auto;
}

#logo {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#logo img {
  display: block;

  width: 10vw;
  max-width: 80px;
}

#logo h1 {
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
  color: #d1d4d6;
}

.navbar {
  background-color: black;
  width: 90vw;
}
.navbar__list {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  box-shadow: 0 12px 12px grey;
}
.navbar__link {
  display: block;
  padding: 1rem;
  color: #d1d4d6;
}
.navbar__link:hover {
  background-color: white;
  box-shadow: 0 0 5px inset #d1d4d6;
  color: black;
  transition: all 200ms;
}
.bar {
  width: 90vw;
  display: flex;
}
.bar__left {
  display: block;
  border-left: 5vw solid transparent;
  border-top: 10px solid #2b2f30;
}
.bar__center {
  display: block;
  background-color: #2b2f30;
  width: 80vw;
}
.bar__right {
  display: block;
  border-right: 5vw solid transparent;
  border-top: 10px solid #2b2f30;
}

.content {
  max-width: 80vw;
  width: 100%;
  border-left: 10px solid black;
  border-bottom: 10px solid transparent;
  border-bottom-left-radius: 13px;
  align-self: flex-end;
  padding: 1rem;
  display: grid;
}

.footer {
  border: 1px solid black;
  width: 100vw;
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
}
